<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoStoryboardSelfieGram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>359EB0371C476C0D008EE73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359EB04B1C476C0D008EE73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359EB0561C476C0D008EE73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
